body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
    background:#927446;
    user-select: none;
    font-family: Arial;
}

.btn {
    border-radius: 0.5rem;
    font-size: 27px;
    border: none;
    font-weight: bold;
    padding: 0.5rem 4rem;
    background-color: #272727;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.btn:hover {
    background-color: #202020;
    color: rgb(224, 224, 224);
}
.btn:active {
    background-color: #2b2b2b;
    color: rgb(199, 199, 199);
}


/*------------------------------------------*/
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}
.text , .result {
    width: 100%;
    background-color: rgb(255 255 255 / 30%);
    border: black solid 3px;
    border-radius: 0.2rem;
    font-size: 35px;
    padding: 0.6rem;
    font-family: Arial !important;
    font-weight: bold;
    max-width: 1000px;
}

.credit {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
}
.credit a {
    color: #fff;
}



@media screen and (max-width: 600px) {
    .container {
        gap: 0.5rem;
        padding: 1rem;
    }
    .text , .result {
        font-size: 24px;
        padding: 8px;
    }
}



